<form [formGroup]="loginForm">

    <div class="form-group">

        <p class="text">Username</p>
        <input id="username" required formControlName="username" placeholder="Inserisci l'username">
        <!--<span *ngIf="usernameControl.invalid && usernameControl.dirty"> L'inserimento dell'username è
            obbligatorio</span>-->

    </div>

    <div>
        <p>Password</p>
        <input (keyup.enter)="login()"type="password" id="password" required formControlName="password" placeholder="Inserisci la password">
    </div>

    <div>
        <button (click)="login()" >Login</button>
    </div>


</form>
